C:\Users\cikes\Desktop\DynamicMultithreadingProcessing\multithreading\data
C:\Users\cikes\Desktop\DynamicMultithreadingProcessing\multithreading\data\app_logs
C:\Users\cikes\Desktop\DynamicMultithreadingProcessing\multithreading\data\app_logs\default_app.log